#################
## Eclipse
#################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Idea
#################
**/*.iml
.idea/

#################
## Cursor
#################
.cursor/
.cursorrules
.cursorignore

#################
## Maven
#################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#################
## Logger Files
#################
/snowflake-distributed-service-node/logs/
/snowflake-distributed-service-impl/logs/
/snowflake-distributed-service-api/logs/

#################
## Configuration Files
#################
/snowflake-distributed-service-node/conf/
/snowflake-distributed-service-impl/conf/
/snowflake-distributed-service-api/conf/

#################
## Libext Files
#################
/snowflake-distributed-service-node/libext/

#################
## Opt Files
#################
/snowflake-distributed-service-node/opt/

#################
## Optext Files
#################
/snowflake-distributed-service-node/optext/

#################
## Confext Files
#################
/snowflake-distributed-service-node/confext/
